h1, h2, h3, p {
    padding:0;
    margin:0;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 120px;
}

a{
    text-decoration:none;
    color: #000000;
}

a:hover, a:active{
    color: #bccbde;

}

.card {
    border-radius: 20px;
    width:10rem;
    box-shadow:0 5px 10px 0 rgb(0,0,0,0.5); 
} 

@media screen and (max-width:600px) {
    #experience {
        flex-direction: column;
    }
    .mobile-hide {
        display: none !important;
    }
}

  .underline {
    background-image: linear-gradient(90deg, #bccbde 0%, #c2dde6 100%);
    background-repeat: no-repeat;
    /* background-size: 0.05em  vertical */
    background-size: 50% 0.25em;
    background-position: 50% 95%;
  }